<div class="container">
    <div class="right-half">
        <img src="https://neurosciencenews.com/files/2023/06/coffee-brain-caffeine-neuroscincces.jpg" alt="Product Image">
    </div>
    <div class="left-half">
      <div class="center-content">
        <h2>Coffee Shop</h2>
        <p>click on the button ti view a variety of our Coffee.</p>
       
        <button mat-raised-button color="primary"  (click)="onNavigateToCoffees()">View Our Coffee Selection</button>
      
      </div>
    </div>
</div>
